{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
    <h1>Cv edit</h1>
	<form action="{{ path('register-form') }}" method="POST">
		
		{{ form_errors(form) }}

		{{ form_row(form.username) }}
		{{ form_row(form.email) }}
		{{ form_row(form.password.first,{
			'label': 'Password'
		}) }}
		{{ form_row(form.password.second, {'label':'Password again'}) }}
		
		{{ form_rest(form) }}
		
		<input type="submit" value="Register" />
	</form>
</div>

{% endblock %}